<div id="carouselExample" class="carousel slide">

  <div class="carousel-indicators">

    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active bg-dark"
      aria-label="Slide 1"></button>

    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" class="bg-dark"
      aria-label="Slide 2"></button>

  </div>




  <div class="carousel-inner container  ">
    <div class="carousel-item active ">
      <div class="row">
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/images/t-shirt-donna-pride-or-die-stay-hungry_2_.jpg"
              class="figure-img img-fluid rounded shadow-3 mb-3" />
            <div class="d-flex gap-2">
              <figcaption class="figure-caption"><a class="links_style title my-link" href="">Mk-T-shirt</a>
              </figcaption>
              <span class="badge rounded-pill text-bg-danger">Sale</span>
              <del class="title">30,00€</del>
              <span class="text-success title">25,00€</span>
            </div>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/images/t-shirt-donna-pride-or-die-stay-hungry_2_.jpg"
              class="figure-img img-fluid rounded shadow-3 mb-3" />
            <div class="d-flex gap-2">
              <figcaption class="figure-caption"><a class="links_style title my-link" href="">Mk-T-shirt</a>
              </figcaption>
              <span class="badge rounded-pill text-bg-danger">Sale</span>
              <del class="title">30,00€</del>
              <span class="text-success title">25,00€</span>
            </div>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/images/t-shirt-donna-pride-or-die-stay-hungry_2_.jpg"
              class="figure-img img-fluid rounded shadow-3 mb-3" />
            <div class="d-flex gap-2">
              <figcaption class="figure-caption"><a class="links_style title my-link" href="">Mk-T-shirt</a>
              </figcaption>
              <span class="badge rounded-pill text-bg-danger">Sale</span>
              <del class="title">30,00€</del>
              <span class="text-success title">25,00€</span>
            </div>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/images/t-shirt-donna-pride-or-die-stay-hungry_2_.jpg"
              class="figure-img img-fluid rounded shadow-3 mb-3" />
            <div class="d-flex gap-2">
              <figcaption class="figure-caption"><a class="links_style title my-link" href="">Mk-T-shirt</a>
              </figcaption>
              <span class="badge rounded-pill text-bg-danger">Sale</span>
              <del class="title">30,00€</del>
              <span class="text-success title">25,00€</span>
            </div>
          </figure>
        </div>
      </div>
      <br>
    </div>




    <div class="carousel-item active">

      <div class="row">

        <div
          class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">

          <div class="product-car">

            <div class="product-image">

              <img src="assets/images/t-shirt-pride-or-die-unleashed_2_.jpg" class="w-100" alt="">

            </div>

          </div>

        </div>




        <div
          class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">

          <div class="product-car">

            <div class="product-image">

              <img src="assets/images/a.png" class="w-100" alt="">

            </div>

          </div>

        </div>






        <div
          class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">

          <div class="product-car">

            <div class="product-image">

              <img src="assets/images/r.png" class="w-100" alt="">

            </div>

          </div>

        </div>




        <div
          class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">

          <div class="product-car">

            <div class="product-image">

              <img src="assets/images/k.png" class="w-100" alt="">

            </div>

          </div>

        </div>

      </div>

    </div>




    <button class="carousel-control-prev fa-xl fa-rotate-180" type="button" data-bs-target="#carouselExample"
      data-bs-slide="prev"><fa-icon class="text-dark" [icon]="faArrowRight"></fa-icon>

    </button>




    <button class="carousel-control-next fa-xl" type="button" data-bs-target="#carouselExample"
      data-bs-slide="next"><fa-icon class="text-dark" [icon]="faArrowRight"></fa-icon>

    </button>




  </div>
