<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <h4 class="subtitle"><i class="bi bi-person-fill"></i> Il mio account</h4>
      <div class="d-grid gap-2">
        <button (click)="logout()" class=" my-link btn-dark btn-lg btn-block title d-block" type="button">Logout</button>
      </div>
      <hr>
      <ul>
        <li><a class="title my-link links_style" href="">Bacheca account</a></li>
        <li><a class="title my-link links_style" href="">I miei ordini</a></li>
        <li><a class="title my-link links_style" href="">Whishlist</a></li>
        <li><a class="title my-link links_style" href="">Iscrizione newsletter</a></li>
      </ul>
      <h6 class="subtitle"><i class="bi bi-bookmark-heart-fill"></i> whishlist</h6>
      <hr>
      <span class="title">ultimi oggetti aggiunti</span>
      <div class="row">
        <div class="col-md-2">
          <img class="border " src="assets/images/t-shirt-pride-or-die-stay-hungry_1_.jpg" alt="" height="50px"
            width="50px">
        </div>
        <div class="col-md-6">
          <p class="subtitle">Mk-Gloves</p>
        </div>
        <div class="col-md-2">
          <a class="my-link links_style" href=""><i class="bi bi-x-square-fill"></i></a>
        </div>

      </div>
      <div class="row mt-2  mb-5">
        <div class="col-md-2">
          <img class="border " src="assets/images/t-shirt-donna-pride-or-die-stay-hungry_2_.jpg" alt="" height="50px"
            width="50px">
        </div>
        <div class="col-md-6">
          <p class="subtitle">Mk-Gloves</p>

        </div>
        <div class="col-md-2">
          <a class="my-link links_style" href=""> <i class="bi bi-x-square-fill"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h4 class="subtitle">La mia bacheca</h4>
      <hr>
      <h6 class="subtitle"></h6>
      <h6 class="subtitle">Ciao, Mirko Coluccia!</h6>
      <p class="subtitle">Dalla bacheca del tuo account hai la possibilità di vedere uno snapshot delle recenti attività
        del tuo account
        e aggiornare le informazioni del tuo account. Seleziona un link qui sotto per vedere o modificare le
        informazioni.</p>
      <div class="row mt-4">
        <div class="col-md-4 mt-3">
          <h3 class="subtitle">Ordini Recenti</h3>

        </div>
        <hr>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th class="title" scope="col"> Ordine #</th>
            <th class="title" scope="col">Data</th>
            <th class="title" scope="col">Spedisci a </th>
            <th class="title" scope="col">Totale ordine</th>
            <th class="title" scope="col">Stato</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td class="subtitle">24567</td>
            <td class="subtitle">Mirko Coluccia</td>
            <td class="subtitle">25.99€</td>
            <td class="subtitle"><em>Completato</em></td>
            <td><a class="my-link links_style" href="">Visualizza ordine</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td class="subtitle">24567</td>
            <td class="subtitle">Mirko Coluccia</td>
            <td class="subtitle">25.99€</td>
            <td class="subtitle"><em>Completato</em></td>
            <td><a class="my-link links_style" href="">Visualizza ordine</a></td>
          </tr>

        </tbody>
      </table>
      <div class="row mt-4">
        <h3 class="subtitle">Informazioni account</h3>

      </div>

      <div class="row">
        <div class="col-md-5">
          <hr>
          <span class="title">Informazioni Contatto</span>
          <div>
            <p class="subtitle">Mirko Coluccia</p>
            <p class="subtitle">Mirkocoluccia@icloud.com</p>
            <a class="my-link links_style subtitle" href="">Cambia Password account</a>
          </div>
        </div>
        <div class="col-md-5 mb-5">
          <hr>
          <span class="title">Inndirizzo di spedizione</span>
          <div>
            <p class="subtitle">Mirko Coluccia</p>
            <p class="subtitle">Via Costantino 19</p>
            <p class="subtitle">Tricase,Lecce, 73039</p>
            <p class="subtitle">3515607111</p>
            <a class="my-link links_style subtitle" href="">Modifica Informazioni</a>
          </div>
        </div>
      </div>
    </div>
  </div>
