<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mb-5">
      <img class="w-100 img-fluid" src="assets/images/canale telegram.jpg" alt="">
    </div>
    <div class="col-md-6 mt-5 ">
      <p class="subtitle">
      Mk-Boxing.it è su Telegram. Entra nel canale per non perdere novità e offerte.
      Accedi prima di tutti alle nuove collezioni e ottieni nuovi codici sconto ogni settimana.
      </p>
      <hr>
      <h5 class="title"><i class="bi bi-telegram"></i> RIMANI AGGIORNATO</h5>
      <p class="subtitle">Ricevi in anteprima le nuove collezioni e restock di prodotti.</p>
      <h5 class="title"><i class="bi bi-telegram"></i> RISPARMIA</h5>
      <p class="subtitle">Ricevi offerte e coupon sconto riservati. </p>
      <h5 class="title"><i class="bi bi-telegram"></i> NESSUN DISTURBO</h5>
      <p class="subtitle">Puoi silenziare o abbandonare il canale quando vuoi.  </p>
      <button type="button" (click)="vaiAlCanale()" class=" btn-danger btn-lg title mb-4">Entra nel canale telegram</button>
  </div>

</div>
