<div class="d-flex justify-content-center mb-5">
  <div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-dark title">Recupera Password</div>
    <div class="card-body px-5">
      <p class="card-text py-2 subtitle">
        Inserisci la tua email e segui le istruzioni per recuperare la password
      </p>
      <div class="form-outline">
        <input type="email" id="typeEmail" class="form-control my-3" />
        <label class="form-label subtitle" for="typeEmail">Inserisci email</label>
      </div> <button class=" me-3 title my_link links_style" type="button">Recupera Password</button>
      <div class="d-flex justify-content-between mt-4">
        <a class=" title" routerLink="/accedi">Accedi</a>
        <a class="title" routerLink="/registrazione">Registrati</a>
      </div>
    </div>
  </div>
</div>
