<!--blog-->
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1 class="title">
        Gli ultimi articoli
        <hr>
      </h1>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-1">
      <img class="img-fluid img-thumbnail" src="assets/images/blog1.png" alt="">
    </div>
    <div class="col-md-5">
      <a class="my-link links_style" href=""><span class="subtitle">Cleto Reyes, i guanti dei grandi
          campioni</span></a><br>
      <span>Senza bisogno di presentazioni, i guantoni da boxe Cleto Reyes sono... <a class="my-link links_style"
          href="">leggi altro</a> </span>
    </div>

  </div>
  <div class="row">
    <div class="col-md-1">
      <img class="img-fluid img-thumbnail" src="assets/images/blog2.jpg" alt="">
    </div>
    <div class="col-md-5">
      <a class="my-link links_style" href=""><span class="subtitle">Il pugilato: Storia, combattimenti e molto altro
          Il pugilato: Storia, combattimenti e molto altro</span></a><br>
      <span>Che cos’è il pugilato Il pugilato (o boxe) è lo sport... <a class="my-link links_style" href="">leggi
          altro</a> </span>
    </div>

  </div>
  <div class="row">
    <div class="col-md-1">
      <img class="img-fluid img-thumbnail" src="assets/images/blog3.jpg" alt="">
    </div>
    <div class="col-md-5">
      <a class="my-link links_style" href=""><span class="subtitle">I marchi più famosi della boxe</span></a><br>
      <span>Perchè è importante scegliere il guantone adatto? Nel pugilato le mani … <a class="my-link links_style"
          href="">leggi altro</a> </span>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1 class="title">
        News dalla federazione pugilistica italiana
        <hr>
      </h1>
    </div>
  </div>
</div>

<div class="container mb-5">
  <i class="bi bi-dot"><a class="my-link links_style" href=""> Il Punto del Presidente FPI D'Ambrosi: La nuova forza gravitazionale del pugilato italiano.</a></i><br>
  <i class="bi bi-dot"><a class="my-link links_style" href=""> Europei Junior Ploiesti 2023 - 1 Oro e 3 Argenti per l'Italia Boxing Team</a></i><br>
  <i class="bi bi-dot"><a class="my-link links_style" href=""> Europei Junior Ploiesti 2023 - OGGI LE FINALISSIME CON 1 AZZURRO E 3 AZZURRE SL RING - INFO ORARI E LIVESTREAMING</a></i><br>
  <i class="bi bi-dot"><a class="my-link links_style" href=""> Gianmarco Cardillo nuovo Campione Italiano Pesi Massimi</a></i><br>
</div>
