<div class="container">
  <h4 class="subtitle">
    Iscriviti alla newsletter per rimanere aggiornato su anteprime e promozioni
  </h4>
</div>
<div class="container mb-5">
  <form>
    <label for="fname">Nome:</label><br>
    <input type="text" id="fname" name="fname" value="" required><br>
    <label for="lname">Email:</label><br>
    <input type="text" id="lname" name="lname" value="">

  </form>
  <strong>Che discipline pratichi?</strong>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Boxe
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      kick Boxing
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Muay Thai
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      MMA
    </label>
  </div>
  <button type="button" class=" title btn-danger my-link links_style">Iscriviti</button>
</div>
