<app-scroll-top-down>

  <!--Copertina-->
  <div class=" mt-0">
    <video loop autoplay class="w-100 " src="assets/videos/fight or die6.mp4"></video>
  </div>
  <br>



  <!--policy-->
  <div class="container">
    <div class="row">
      <div class="col-md-3 d-flex gap-1">
        <h1><i class="bi bi-credit-card-fill"></i></h1>
        <p class="subtitle"><span class="title">PAGAMENTI SICURI</span><br>
          Carte di Credito, Paypal, Bonifico, alla Consegna. <a class="my-link links_style "
            href=""><strong>Scopri.</strong></a>
        </p>
      </div>
      <div class="col-md-3 d-flex gap-1">
        <h1><i class="bi bi-rocket-fill"></i></h1>
        <p class="subtitle"><span class="title">CONSEGNA VELOCE</span><br>
          Il costo è di 5,90 € ed è gratuita per ordini da 89 €. <a class="my-link links_style "
            href=""><strong>Scopri.</strong></a>
        </p>
      </div>
      <div class="col-md-3 d-flex gap-1">
        <h1><i class="bi bi-box-seam-fill"></i></h1>
        <p class="subtitle"><span class="title">RESO GRATUITO</span><br>
          Hai 30 giorni dalla consegna per richiederlo. <a class="my-link links_style "
            href=""><strong>Scopri.</strong></a>
        </p>
      </div>
      <div class="col-md-3 d-flex gap-1">
        <h1><i class="bi bi-patch-check-fill"></i></h1>
        <p class="subtitle"><span class="title">GARANZIA</span><br>
          Due anni di garanzia legale sui prodotti.
          <a class="my-link links_style " href=""><strong>Scopri.</strong></a>
        </p>
      </div>
    </div>
  </div>



  <!--titolo-->
  <section>
    <div class="d-flex justify-content-center">
      <h1 id="" class=" my-5 title bg-white custom">PRODOTTI IN EVIDENZA</h1>
    </div>
  </section>


  <!--prodotti in evidenza-->
  <section>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/images/t-shirt-pride-or-die-stay-hungry_1_.jpg"
              class="figure-img img-fluid rounded shadow-3 mb-3" />
            <div class="d-flex gap-2">
              <figcaption class="figure-caption"><a class="links_style title my-link" >Mk-T-shirt</a>
              </figcaption>
              <span class="badge rounded-pill text-bg-danger">Sale</span>
              <del class="title">30,00€</del>
              <span class="text-success title">25,00€</span>
            </div>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/images/t-shirt-pride-or-die-unleashed_2_.jpg"
              class="figure-img img-fluid rounded shadow-3 mb-3" />
            <div class="d-flex gap-2 ">
              <figcaption class="figure-caption"><a class="links_style title my-link" href="">Mk-t-shirt</a>
              </figcaption>
              <span class="badge rounded-pill text-bg-danger">Sale</span>
              <del class="title">35,00€</del>
              <span class="text-success title">25,00€</span>
            </div>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/images/t-shirt-donna-pride-or-die-stay-hungry_2_.jpg"
              class="figure-img img-fluid rounded shadow-3 mb-3" />
            <div class="d-flex gap-2">
              <figcaption class="figure-caption"><a class="links_style title my-link" href="">Mk-T-shirt</a>
              </figcaption>
              <span class="badge rounded-pill text-bg-danger">Sale</span>
              <del class="title">30,00€</del>
              <span class="text-success title">25,00€</span>
            </div>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/images/t-shirt-donna-pride-or-die-stay-hungry_2_.jpg"
              class="figure-img img-fluid  shadow-3 mb-3" />
            <div class="d-flex gap-2">
              <figcaption class="figure-caption"><a class="links_style title my-link" href="">Mk-T-shirt</a>
              </figcaption>
              <span class="badge rounded-pill text-bg-danger">Sale</span>
              <del class="title">30,00€</del>
              <span class="text-success title">25,00€</span>
            </div>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/images/t-shirt-donna-pride-or-die-stay-hungry_2_.jpg"
              class="figure-img img-fluid rounded shadow-3 mb-3" />
            <div class="d-flex gap-2">
              <figcaption class="figure-caption"><a class="links_style title my-link" href="">Mk-T-shirt</a>
              </figcaption>
              <span class="badge rounded-pill text-bg-danger">Sale</span>
              <del class="title">30,00€</del>
              <span class="text-success title">25,00€</span>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </section>






  <!--collezione-->

  <section>
    <div class="d-flex justify-content-center">
      <h1 id="" class=" my-5 title bg-white custom">COLLEZIONI</h1>
    </div>
  </section>


  <!--collezioni-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href=""><img src="assets/images/banner1.jpg" class="figure-img img-fluid rounded shadow-3 mb-3" /></a>
        </div>
        <div class="col-md-4">
          <a href=""><img src="assets/images/banner2.jpg" alt="" class="figure-img img-fluid rounded shadow-3 mb-3"></a>
        </div>
        <div class="col-md-4">
          <a href=""><img src="assets/images/banner3.jpg" alt="" class="figure-img img-fluid rounded shadow-3 mb-3"></a>
        </div>
      </div>
    </div>
  </section>








  <!--titolo2-->
  <section>
    <div class="d-flex justify-content-center">
      <h1 id="" class=" my-5 title bg-white custom">PARTNER</h1>
    </div>
  </section>

  <!--eventi-->

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <img class="img-fluid" src="assets/images/pub1.png" alt="">
      </div>
      <div class="col-md-5">
        <img class="img-fluid" src="assets/images/pub2.png" alt="">
      </div>
    </div>
  </div>


  <!--brand ambassador-->

  <section>
    <div class="d-flex justify-content-center ">
      <h1 id="" class=" my-5 title bg-white custom">BRAND AMBASSADOR</h1>
    </div>
  </section>

  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <img class="w-100 img-fluid" src="assets/images/federazione.png" alt="">
      </div>
    </div>
  </div>
  <!--dicono di noi-->
  <section>
    <div class="d-flex justify-content-center ">
      <h1 id="" class=" custom my-5 title bg-white ">DICONO DI NOI</h1>
    </div>
  </section>



  <!--rassegna stampa-->
  <div class="container mb-5 ">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <img class="img-fluid journal" src="assets/images/pt1.png" alt="">
      </div>
      <div class="col-md-3 ">
        <img class="img-fluid journal " src="assets/images/pt2.png" alt="">
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <div class="row align-items-center">
        <a class="my-link links_style subtitle" routerLink="/rassegna">Leggi la rassegna stampa</a>
      </div>
    </div>
  </div>



  <!--chi siamo-->
  <div class="d-flex mt-4 bg-secondary-subtle">



    <div class="container">
      <div class="row">
        <div class="container">
          <div class="col-md-12 text-center ">
            <h2 class=" custom title">CHI SIAMO</h2>
          </div>
        </div>

        <div class="col-md-6 ">
          <p class="subtitle mx-4 justify-text ">
            In un mondo colmo di sfide, uno spirito indomabile emerge dal cuore di MK Boxing. Questo è il
            racconto di un ragazzo che ha lottato contro le avversità, un vero simbolo di ispirazione e
            resilienza.

            MK Boxing è nato dalla fiamma interiore di un giovane pugile, un combattente che ha affrontato
            la battaglia più dura della sua vita. Dopo aver lottato contro un tumore, ha trovato nella boxe
            non solo la sua passione, ma anche una forza che lo ha spinto a superare i suoi limiti.

            Il payoff "Fight or Die" cattura l'essenza di MK Boxing: la determinazione di sfidare le
            avversità e la volontà di andare oltre i propri limiti. Questo ragazzo non solo combatte sul
            ring, ma ha anche imparato a combattere nella vita, rafforzando la sua mente e il suo spirito
            attraverso ogni allenamento, ogni colpo sferrato e ogni rialzarsi dopo ogni caduta.
          </p>
        </div>


        <div class="col-md-6">
          <p class="subtitle justify-text">
            La sua storia è un monito di speranza per tutti coloro che affrontano ostacoli insormontabili.
            MK Boxing dimostra che la resilienza e la volontà di lottare possono superare qualsiasi cosa. È
            un invito a non arrendersi mai, a credere in se stessi e a trovare la forza interiore per
            superare ogni avversità.

            Fight or Die è il grido di battaglia di MK Boxing, un'ispirazione per tutti coloro che cercano
            di superare le proprie sfide personali. Insieme, ci alleniamo, ci sosteniamo reciprocamente e
            combattiamo per la vita che vogliamo. Non si tratta solo di pugilato, si tratta di trovare il
            coraggio di combattere per i nostri sogni, di superare i nostri limiti e di abbracciare il
            potere della resilienza.

            Entra nel ring con MK Boxing. Fight or Die. Sconfiggi le avversità e abbraccia la forza che
            risiede in te.
          </p>
        </div>
      </div>
    </div>
  </div>




</app-scroll-top-down>
