<div class="container">
  <div class="row mt-5 " *ngFor="let item of items">
    <div class="col-md-2">
      <img [src]="item.img" class="img-fluid rounded-start" alt="Product Image">
    </div>
    <div class="col-md-2">
      <h5 class=" subtitle">{{ item.name }}</h5>
      <p class="subtitle">Colore: {{ item.color }}</p>
      <p class="subtitle">Taglia: {{ item.taglia }}</p>
      <p class="subtitle">Quantità: {{ item.quantity }}</p>




      <p class="subtotal title text-danger "><span class="subtitle">Prezzo:</span>{{item.prezzo}}€</p>

    </div>

  </div>
</div>

<div class="row mt-5 mb-5">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php">

        <div class="row">
          <div class="col-50">

            <h3 class="subtitle">Indirizzo di spedizione</h3>
            <label class="subtitle" for="fname"><i class="fa fa-user"></i> Nome</label>
            <input type="text" id="fname" name="firstname" placeholder="">
            <label class="subtitle" for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="">
            <label class="subtitle" for="adr"><i class="fa fa-address-card-o"></i> Indirizzo</label>
            <input type="text" id="adr" name="address" placeholder="">
            <label class="subtitle" for="city"><i class="fa fa-institution"></i> Città</label>
            <input type="text" id="city" name="city" placeholder="">

            <div class="row">
              <div class="col-50">
                <label class="subtitle" for="state">Stato</label>
                <input type="text" id="state" name="state" placeholder="">
              </div>
              <div class="col-50">
                <label class="subtitle" for="zip">CAP</label>
                <input type="text" id="zip" name="zip" placeholder="10001">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3 class="subtitle">Pagamenti</h3>
            <label class="subtitle" for="fname">Carte accettate</label>
            <div class="d-flex justify-content-around">
              <i class="bi bi-credit-card" style="color:navy;"></i>
              <i class="bi bi-credit-card-2-back" style="color:blue;"></i>
              <i class="bi bi-credit-card-2-front" style="color:red;"></i>
              <i class="bi bi-credit-card-fill" style="color:orange;"></i>
            </div>
            <label class="subtitle" for="cname">Titolare carta</label>
            <input type="text" id="cname" name="cardname" placeholder="">
            <label class="subtitle" for="ccnum">Numero carta</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label class="subtitle" for="expmonth">Mese</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="">

            <div class="row">
              <div class="col-50">
                <label class="subtitle" for="expyear">Anno</label>
                <input type="text" id="expyear" name="expyear" placeholder="">
              </div>
              <div class="col-50">
                <label class="subtitle" for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="352">
                <span class="fs-2 subtitle" >TOTALE:</span><span class="fs-2 subtitle" >{{totale}}€</span>
              </div>
            </div>
          </div>

        </div>
        <label class="subtitle">
          <input class="subtitle" type="checkbox" checked="checked" name="sameadr"> Salva le informazioni
        </label>
        <button class="btn fs-2 title" data-bs-target="#exampleModal" data-bs-toggle="modal" >ACQUISTA</button>

      </form>
    </div>
  </div>
</div>

<!-- Modale -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 subtitle" id="exampleModalLabel">Non puoi completare l'ordine se non sei registrato. </h1>
        <button type="button" class="btn-close my-link links_style" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-secondary my-link links_style title" data-bs-dismiss="modal">Prosegui</button>
        <button routerLink="/registrazione" type="button" class=" btn-primary my-link links_style title"
          data-bs-dismiss="modal">Registrati</button>
      </div>
    </div>
  </div>
</div>

